* {
    margin: 0;
    padding: 0;
    /* background-image: url("../img/fern_pattern.png"); */
    box-sizing: border-box;
}

html {
    
}

@font-face {
    font-family: "Brushberry1";
    src: url("fonts/Brushberry1.otf") format("opentype");
  }

  @font-face {
    font-family: "Brushberry2";
    src: url("fonts/Brushberry2.otf") format("opentype");
  }
  
  

header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "trade-gothic-next", sans-serif;
        background-image: url("../img/fern_filter.png");
}

.navBar{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size:400%;
    width: 100%;
    height: 20vh;
    font-family: "Brushberry2";
    background-color: green;
    background-image: url("../img/fern_pattern_green.png");
    background-size: 20%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-left: 6%;
    text-align: center;
    font-size:50%;
    font-family: "Brushberry2";
    width: 100%;
    /* padding-left: -10%; */
}

#heroQuote{
    display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    font-size: 250%;
    font-family: "Brushberry1";
    margin: 3% 5% 5% 5%;
    padding: auto;
    line-height: 150%;

    /* background-image: url("../img/fern_filter.png");
    background-size: 20%; */
}

#heroBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    /* height: 50vh; */
    background-image: url("../img/fern_filter.png");
    background-size: 20%;
    /* overflow: hidden; */
    
}

#heroBlockText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    /* height: 50vh; */
    /* overflow: hidden; */
    margin: 1%;
}


.info{
    text-align: center;
    font-size: 200%;
    font-family: "trade-gothic-next", sans-serif, bold;
    background-image: url("../img/fern_filter.png");
    background-repeat: repeat-x, repeat-y;
}

.dayInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200%;
    font-family: "trade-gothic-next", sans-serif, bold;
    /* background-image: url("../img/fern_filter.png");
    background-repeat: repeat-x, repeat-y; */
    margin: 10% 5% 10% 5%;

}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    object-fit: fill;
}

.gallery *{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 25%;
    height: 100%;
    object-fit: fill;
    
}

#logo *{
    width:20%;

}

.question{
    margin: 3% 0% 5% 0%;
    font-size: 170%;
    font-family: "Brushberry1";
}


.answer{

    font-size: 100%;
    font-family: "trade-gothic-next", sans-serif;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 80%;
    align-items: center;
    justify-content: center;
    line-height: 150%;
    letter-spacing: .5px;
}

a{
    text-decoration: none;
    color: white;
}

.dayAgenda{
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 350%;
    font-family: "Brushberry2";
    color: rgb(5, 65, 5);
    line-height: 90%;
}

.detailAgenda{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgb(5, 65, 5);
    color: white;
    background-image: url("../../img/fern_pattern_green_upside.png");
}

#detailAgenda1{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgb(5, 65, 5);
    color: white;
    background-image: url("../../img/fern_pattern_green_upside.png");
}

#detailAgenda2{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgb(5, 65, 5);
    color: white;
    background-image: url("../../img/fern_pattern_green.png");
}

#detailAgenda3{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgb(5, 65, 5);
    color: white;
    background-image: url("../../img/fern_pattern_green_upside.png");
}

ul{
    list-style-type: none
}

.agenda1{
    margin: 5% 0% 5% 0%;
    
}

.agenda2{
    margin: 5% 0% 5% 0%;
}

.agenda3{
    margin: 5% 0% 5% 0%;
}

.day{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2%; */
}

.day *{
    margin: 0%;
    width: 75%;
    height: 25vh;
    justify-content: center;
    /* object-fit: cover; */
}

#quoteBlock{
    width: 80%;
    height: 15vh;
    font-size: 200%;
    font-family: "Brushberry1";
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1% 10% 2% 10%;
    line-height: 150%;
    color: rgb(5, 65, 5);
}

#learnBlock {
    font-family: "trade-gothic-next", sans-serif;
    font-size: 150%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2% 0% 0% 0%;
    color: rgb(20, 97, 46);
    text-shadow:
      0 0 7px #ffffff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(26, 180, 129),
      0 0 82px rgb(18, 151, 107),
      0 0 92px rgb(26, 102, 77),
      0 0 102px rgb(14, 85, 61),
      0 0 151px rgb(28, 85, 66);
    animation: pulsate 2.5s infinite alternate;  
}

@keyframes pulsate {
    100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px rgb(22, 179, 126),
        0 0 90px rgb(25, 150, 108),
        0 0 100px rgb(15, 116, 82),
        0 0 150px rgb(8, 78, 55);
    }
    0% {
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0fa,
        0 0 45px rgb(22, 192, 135),
        0 0 55px rgb(22, 134, 97),
        0 0 70px rgb(13, 116, 81),
        0 0 80px rgb(9, 75, 53);
    }
  }