* {
    margin: 0;
    padding: 0;
    /* background-image: url("../img/fern_pattern.png"); */
    box-sizing: border-box;
}

html {
    
}

@font-face {
    font-family: "Brushberry1";
    src: url("fonts/Brushberry1.otf") format("opentype");
  }

  @font-face {
    font-family: "Brushberry2";
    src: url("fonts/Brushberry2.otf") format("opentype");
  }
  
  

header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "trade-gothic-next", sans-serif;
    background-image: url("../img/fern_filter.png");
}

.navBar{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size:400%;
    width: 100%;
    height: 20vh;
    font-family: "Brushberry2";
    background-color: green;
    background-image: url("../img/fern_pattern_green.png");
    background-size: 20%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-left: 6%;
    text-align: center;
    font-size:50%;
    font-family: "Brushberry2";
    width: 100%;
    /* padding-left: -10%; */
}

#heroQuote{
    display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    font-size: 250%;
    font-family: "Brushberry1";
    margin: 3% 5% 5% 5%;
    padding: auto;
    line-height: 150%;
    /* background-image: url("../img/fern_filter.png");
    background-size: 20%; */
}

#heroBlock{
    display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: auto;
    line-height: 150%;
    background-image: url("../img/fern_filter.png");
    background-size: 20%;
}

#quoteBlock{
    width: 80%;
    height: 15vh;
    font-size: 200%;
    font-family: "Brushberry1";
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2% 10% 0% 10%;
    line-height: 150%;
    color:rgb(5, 65, 5);
}


.info{
    text-align: center;
    font-size: 200%;
    font-family: "trade-gothic-next", sans-serif, bold;
    background-image: url("../img/fern_filter.png");
    background-repeat: repeat-x, repeat-y;
}

.dayInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200%;
    font-family: "trade-gothic-next", sans-serif, bold;
    background-image: url("../img/fern_filter.png");
    background-repeat: repeat-x, repeat-y;
    margin: 10% 5% 10% 5%;

}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    object-fit: fill;
}

.gallery *{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 25%;
    height: 100%;
    object-fit: fill;
    
}

#logo *{
    width:20%;

}

.question{
    margin: 3% 0% 5% 0%;
    font-size: 170%;
    font-family: "Brushberry1";
}


.answer{

    font-size: 100%;
    font-family: "trade-gothic-next", sans-serif;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 80%;
    align-items: center;
    justify-content: center;
    line-height: 150%;
    letter-spacing: .5px;
}

a{
    text-decoration: none;
    color: white;
}

.dayAgenda{
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 200%;
}

.detailAgenda{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: rgb(5, 87, 5);
    color: white;
}


ul{
    list-style-type: none
}

.agenda1{
    margin: 5% 0% 5% 0%;
}

.agenda2{
    margin: 5% 0% 5% 0%;
}

.agenda3{
    margin: 5% 0% 5% 0%;
}

#rescueBlock{
    display: flex;
    flex-direction: column;
    font-family: "trade-gothic-next", sans-serif, bold;
    font-size: 150%;
    width: 40%;
    height: 75vh;
    color: white;
    background-color: rgb(5, 65, 5);
    background-image: url("../../img/animal_prints-01.png");
    background-size: 110%;
    margin: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#restorationBlock{
    display: flex;
    flex-direction: column;
    font-family: "trade-gothic-next", sans-serif, bold;
    font-size: 150%;
    width: 40%;
    height: 75vh;
    color: white;
    background-color: rgb(5, 65, 5);
    background-image: url("../../img/fern_pattern_green_upside.png");
    background-size: 110%;
    margin: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#connectionBlock{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% 0% 5% 0%;
 
}

.contactBlock{
    justify-content: center;
    align-items: center;
    
    /* margin: 5%; */
}

.titleBlock{
    display: flex;
    flex-direction: column;
    font-size: 300%;
    line-height: normal;
    width: 100%;
    margin: 0% 0% 5% 0%;
    font-family: "Brushberry1";
}
.contactOrg{
    display: flex;
    flex-direction: column;
    margin: 3% 0% 3% 0%;
    font-size: 125%;
}

.contactPhone{
    display: flex;
    flex-direction: column;
    margin: 0% 0% 1% 0%;
    font-family: "trade-gothic-next", sans-serif;
}

.contactWeb{
    display: flex;
    flex-direction: column;
    margin: 0% 0% 3% 0%;
}

#merchBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#merchBlock *{
    margin: 1%;
}

#merchDisclaimer{
    text-align: center;
    font-size: 150%;
    color:rgb(5, 65, 5);
    margin: 2% 0% 0% 0%;
}

#button{
    width: 25%;
    display: flex;
    flex-direction: column;
}

#ticket{
    width: 25%;
    display: flex;
    flex-direction: column;
}

#toy{
    width: 25%;
    display: flex;
    flex-direction: column;
}